eNoAvQBC/yI2EYQPjTQp9RGXOu0aAedUNQtb5GH0/raISmitK9xYtdz72MXFIpGMmf5q4In3mY0yVRP7c41l/YUhUtU2An6EHxo4BzwGf+TotK6/JQGuCyRhIJwYvuyO5eY3zxn7KqBIKGdRBU03SvtnP3iXM+gu6862Cf/lnC6JEChMRl3raBM3hT1AZGxIteOyCRKn/gFmIs1UknAi4rnLGcPvPe9hDBpF/nKbxVtAQOARdVE/lC4n2HjJDeQ7BgO7xwEAAP//7QdXog==